In [132]:
import pandas as pd 
import numpy as np

In [134]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [135]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [137]:
data.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [142]:
data['horsepower'].describe()

count    8996.000000
mean      149.657292
std        29.879555
min        37.000000
25%       130.000000
50%       149.000000
75%       170.000000
max       271.000000
Name: horsepower, dtype: float64

In [144]:
data['num_cylinders'] = data['num_cylinders'].fillna(data['num_cylinders'].median())
data['acceleration'] = data['acceleration'].fillna(data['acceleration'].mean())
data = data.drop(['num_doors', 'origin', 'fuel_type', 'drivetrain'], axis=1)

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9704 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         9704 non-null   float64
 5   model_year           9704 non-null   int64
 6   fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 530.8 KB

In [148]:
np.random.seed(42)

In [150]:
n = len(data)

n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_test - n_val

In [152]:
idx = np.arange(n)
idx

array([   0,    1,    2, ..., 9701, 9702, 9703])

In [154]:
np.random.shuffle(idx)

In [156]:
val_df = data.iloc[idx[:n_val]]
test_df = data.iloc[idx[n_val:n_val + n_test]]
train_df = data.iloc[idx[n_val + n_test:]]

In [158]:
val_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,fuel_efficiency_mpg
483,220,3.0,144.0,2535.887591,18.700000,2009,16.642943
7506,160,2.0,141.0,2741.170484,14.300000,2019,16.298377
8795,230,3.0,155.0,2471.880237,15.021928,2017,18.591822
1688,150,3.0,206.0,3748.164469,15.500000,2015,11.818843
6217,300,4.0,111.0,2135.716359,16.900000,2006,19.402209

In [160]:
y_train = train_df['fuel_efficiency_mpg']
y_test = test_df['fuel_efficiency_mpg']
y_val = val_df['fuel_efficiency_mpg']

del train_df['fuel_efficiency_mpg']
del test_df['fuel_efficiency_mpg']
del val_df['fuel_efficiency_mpg']

In [162]:
mean = train_df['horsepower'].mean()

In [164]:
train_df_mean = train_df.copy()
test_df_mean = test_df.copy()
val_df_mean = val_df.copy()

In [166]:
train_df_zero = train_df.copy()
test_df_zero = test_df.copy()
val_df_zero = val_df.copy()

In [168]:
train_df_mean['horsepower'] = train_df_mean['horsepower'].fillna(mean)
test_df_mean['horsepower'] = test_df_mean['horsepower'].fillna(mean)
val_df_mean['horsepower'] = val_df_mean['horsepower'].fillna(mean)

In [170]:
train_df_zero['horsepower'] = train_df_zero['horsepower'].fillna(0)
test_df_zero['horsepower'] = test_df_zero['horsepower'].fillna(0)
val_df_zero['horsepower'] = val_df_zero['horsepower'].fillna(0)

In [172]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [186]:
w_0, w = train_linear_regression(train_df_mean, y_train)

In [188]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [190]:
y_pred_mean = w_0 + val_df_mean.dot(w)
round(rmse(y_val, y_pred_mean), 2)

0.4

In [192]:
w_0, w = train_linear_regression(train_df_zero, y_train)

In [194]:
y_pred_zero = w_0 + val_df_zero.dot(w)
round(rmse(y_val, y_pred_zero), 2)

0.47

In [198]:
def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [206]:
for r in [0, 0.01, 0.1, 1, 5, 10, 100]:
    w_0, w = train_linear_regression_reg(train_df_mean, y_train, r=r)
    y_pred_train = w_0 + train_df_mean.dot(w)
    y_pred_val = w_0 + val_df_mean.dot(w)
    print(f'r: {r} - rmse_train: {round(rmse(y_train, y_pred_train), 2)} - rmse_val: {round(rmse(y_val, y_pred_val), 2)}\n')

r: 0 - rmse_train: 0.4 - rmse_val: 0.4

r: 0.01 - rmse_train: 0.4 - rmse_val: 0.4

r: 0.1 - rmse_train: 0.4 - rmse_val: 0.4

r: 1 - rmse_train: 0.41 - rmse_val: 0.41

r: 5 - rmse_train: 0.41 - rmse_val: 0.41

r: 10 - rmse_train: 0.41 - rmse_val: 0.41

r: 100 - rmse_train: 0.41 - rmse_val: 0.41

In [208]:
rmses = []

for s in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    np.random.seed(s)
    
    idx = np.arange(n)
    np.random.shuffle(idx)
    
    val_df = data.iloc[idx[:n_val]]
    test_df = data.iloc[idx[n_val:n_val + n_test]]
    train_df = data.iloc[idx[n_val + n_test:]]

    train_df['horsepower'] = train_df['horsepower'].fillna(0)
    test_df['horsepower'] = test_df['horsepower'].fillna(0)
    val_df['horsepower'] = val_df['horsepower'].fillna(0)

    y_train = train_df['fuel_efficiency_mpg']
    y_test = test_df['fuel_efficiency_mpg']
    y_val = val_df['fuel_efficiency_mpg']

    del train_df['fuel_efficiency_mpg']
    del test_df['fuel_efficiency_mpg']
    del val_df['fuel_efficiency_mpg']

    w_0, w = train_linear_regression(train_df, y_train)
    
    y_pred_val = w_0 + val_df.dot(w)

    rmses.append(rmse(y_val, y_pred_val))
    
    print(f'seed: {s} - rmse_val: {round(rmse(y_val, y_pred_val), 2)}\n')

seed: 0 - rmse_val: 0.45

seed: 1 - rmse_val: 0.45

seed: 2 - rmse_val: 0.46

seed: 3 - rmse_val: 0.46

seed: 4 - rmse_val: 0.46

seed: 5 - rmse_val: 0.44

seed: 6 - rmse_val: 0.45

seed: 7 - rmse_val: 0.46

seed: 8 - rmse_val: 0.47

seed: 9 - rmse_val: 0.46

C:\Users\leona\AppData\Local\Temp\ipykernel_19588\3511166058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['horsepower'] = train_df['horsepower'].fillna(0)
C:\Users\leona\AppData\Local\Temp\ipykernel_19588\3511166058.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['horsepower'] = test_df['horsepower'].fillna(0)
C:\Users\leona\AppData\Local\Temp\ipykernel_19588\3511166058.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_df['horsepower'] = val_df['horsepower'].fillna(0)

In [218]:
rmses = np.array(rmses)

In [224]:
round(rmses.std(), 4)

0.0066

In [232]:
np.random.seed(9)

idx = np.arange(n)
np.random.shuffle(idx)

test_df = data.iloc[idx[:n_test]]
train_df = data.iloc[idx[n_test:]]

train_df['horsepower'] = train_df['horsepower'].fillna(0)
test_df['horsepower'] = test_df['horsepower'].fillna(0)

y_train = train_df['fuel_efficiency_mpg']
y_test = test_df['fuel_efficiency_mpg']

del train_df['fuel_efficiency_mpg']
del test_df['fuel_efficiency_mpg']

w_0, w = train_linear_regression_reg(train_df, y_train, r=0.001)

y_pred_test = w_0 + test_df.dot(w)

print(f'rmse_test: {rmse(y_test, y_pred_test)}')

rmse_test: 0.46364567471239093

C:\Users\leona\AppData\Local\Temp\ipykernel_19588\125627787.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['horsepower'] = train_df['horsepower'].fillna(0)
C:\Users\leona\AppData\Local\Temp\ipykernel_19588\125627787.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['horsepower'] = test_df['horsepower'].fillna(0)